//
// Buttons
// --------------------------------------------------

input:focus, button:focus {
  outline: 0;
}

.btn {
  font-weight: 700;

  &:focus,
  &:active:focus,
  &.active:focus {
    outline: 0;
  }
}

.btn-default {
  color: @text-color-4;
}