//
// Page Header
// --------------------------------------------------

.page-header {
  margin: 0 0 20px;
  padding: 20px @spacing-medium @spacing-medium @spacing-medium;
  position: relative;
  background-color: @page-header-bg-color;
  text-align: center;

  h1 {
    font-size: @font-size-xx-large;
    font-weight: bold;
    margin: 0;
  }

  p {
    opacity: 0.5;
    font-size: @font-size-large;
    margin-bottom: 0;
    &:last-child {
      margin-bottom: 0;
    }
  }

  &.page-header-anchor {
    background-color: @brand-anchor;
    color: @anchor-text-color;
    a {
      color: @gray-light;
    }
    h1, h2, h3, h4, h5, h6 {
      color: #fff;
    }
  }

  &.page-header-center {
    text-align: center;
  }

  .page-header-divider {
    &:after {
      content: "|";
      display: inline;
      font-weight: bold;
      font-size: 20px;
      padding: 0 10px;
    }
  }

  &.page-header-compact {
    font-size: @font-size-base;
    text-align: left;
    h1 {
      font-size: @font-size-large;
      font-weight: normal;
    }
    p {
      font-size: @font-size-base;
    }
  }

  &.page-header-transparent {
    background-color: transparent;
    border-bottom-color: transparent;
  }

  .page-header-label {
    color: #B1B1B2;
    line-height: @font-size-small;
    font-size: @font-size-small;
  }

  @media (min-width: @screen-md-min) {
    text-align: left;
    
  }

  &[class*='context-'] {
    position: relative;
    padding-top: @spacing-medium;

    &:before {
      content: "";
      .s1icon;
      .s1icon-lg;
      margin-bottom: 6px;
    }

    &.page-header-compact {
      
      &:before {
        .s1icon-sm;
        float: left;
        margin-right: @spacing-medium;
        margin-bottom: @spacing-medium;
      }
    }
    
    @media (min-width: @screen-md-min) {
      min-height: 88px;
      h1 {
        margin-top: 10px;
      }
      &:before {
        float: left;
        margin-right: @spacing-medium;
        margin-bottom: @spacing-medium;
      }
    }

    @media (min-width: @screen-lg-min) {
      min-height: 108px;
      h1 {
        margin-top: 14px;
        font-size: @font-size-xxx-large;
      }
      p {
        font-size: @font-size-xl-large;
      }
      &:before {
        .s1icon-xl;
      }
    }
  }
}