<footer class="fn-footer" role="contentinfo">
  <div class="container">
    <p>This project is released for your page-designing pleasure by the Salesforce Foundation Business Applications Team under the open-source BSD license. Contributors to the project are welcome.</p>
    <p><a href="http://www.getbootstrap.com">Bootstrap</a> is released under its own <a href="https://github.com/twbs/bootstrap/blob/master/LICENSE">license</a></p>
  </div>
</footer>