<ul class="nav">
    <li><a href="#introduction">Introduction</a></li>
    <li><a href="#sizes">Sizes</a></li>
    <li><a href="#standard">Standard Icons</a></li>
    <li><a href="#friendly-custom">Friendly Custom Icons</a></li>
    <li><a href="#custom">Numeric Custom Icons</a></li>
    <li><a href="#utility">Utility Icons</a></li>
</ul>