<ul class="nav">
    <li>
        <a href="#cards">Cards</a>
        <ul class="nav">
            <li><a href="#cards-sizing">Sizing</a></li>
            <li><a href="#cards-details">Details</a></li>
            <li><a href="#cards-labels">Labels</a></li>
            <li><a href="#cards-contexts">Contexts</a></li>
        </ul>
    </li>
    <li>
        <a href="#card-list">Card lists</a>
        <ul class="nav">
            <li><a href="#card-list-links">Linked Cards</a></li>
            <li><a href="#card-list-contexts">Contexts</a></li>
        </ul>
    </li>
    <li>
        <a href="#page-headers">Page Headers</a>
        <ul class="nav">
            <li><a href="#page-headers-contexts">Contexts</a></li>
        </ul>
    </li>
</ul>